flows.json
[
    {
        "id": "d76b69dc5b0dc7a0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "EMQX TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "emqxsl-ca.crt",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtts_broker",
        "type": "mqtt-broker",
        "name": "EMQX Secure",
        "broker": "l2bff666.ala.eu-central-1.emqxsl.com",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "NodeRED_Client",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_group_chart",
        "type": "ui_group",
        "name": "Charts",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f21bedcea9265e65",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "tls_config_1",
        "type": "tls-config",
        "name": "EMQX TLS CA",
        "cert": "",
        "key": "",
        "ca": "/DATA/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "EMQX SSL",
        "broker": "l2bff666.ala.eu-central-1.emqxsl.com",
        "port": "8883",
        "tls": "tls_config_1",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "dashboard_group_1",
        "type": "ui_group",
        "name": "AntiTheft Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "f89ecd23d84a317d",
        "type": "mqtt-broker",
        "name": "EMQX TLS",
        "broker": "l2bff666.ala.eu-central-1.emqxsl.com",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "verifyservercert": false,
        "protocolVersion": 4,
        "keepalive": 15,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55d8a6676523efa8",
        "type": "ui_tab",
        "name": "Anti-Theft Monitor",
        "icon": "dashboard"
    },
    {
        "id": "62560b6440623465",
        "type": "ui_group",
        "name": "ESP32 Dashboard",
        "tab": "55d8a6676523efa8",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "3eb64eb9c36c7d37",
        "type": "ui_group",
        "name": "Accel",
        "tab": "55d8a6676523efa8",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce3c1ef46ed8bcf0",
        "type": "ui_group",
        "name": "Gyro",
        "tab": "55d8a6676523efa8",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f232673d31e60866",
        "type": "mqtt in",
        "z": "d76b69dc5b0dc7a0",
        "name": "ESP32 Sensor Data",
        "topic": "esp32/sensor/data",
        "qos": "0",
        "datatype": "json",
        "broker": "f89ecd23d84a317d",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "ec9e77079db8b0b9",
                "14ed4f0dd4cd5bab"
            ]
        ]
    },
    {
        "id": "ec9e77079db8b0b9",
        "type": "function",
        "z": "d76b69dc5b0dc7a0",
        "name": "Split JSON",
        "func": "let d = msg.payload;\n\nreturn {\n    payload: {\n        vibration: d.vibration,\n        tilt: d.tilt,\n        lift: d.lift,\n        acc_x: d.acc.x,\n        acc_y: d.acc.y,\n        acc_z: d.acc.z,\n        gyro_x: d.gyro.x,\n        gyro_y: d.gyro.y,\n        gyro_z: d.gyro.z,\n        alarm: d.alarm\n    }\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "8ee70fb283b90eb7",
                "3bf52d4014322289",
                "4a9e8ce6e2ad13be",
                "173232e4a24395db",
                "efd66c3de31d86bc",
                "9fb6738f6e6c7835",
                "e07444a3da84c34b",
                "506bf85013f8ed36",
                "477f0e02e78d2471",
                "c014d9f0f5357077",
                "09594445eef69b1b"
            ]
        ]
    },
    {
        "id": "e31cd2f5b3b1f920",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Accel X",
        "group": "3eb64eb9c36c7d37",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Accel X (G)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -2,
        "max": 2,
        "colors": [
            "#85c1e9",
            "#5dade2",
            "#2e86c1"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "e567c8217a352f8f",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Accel Y",
        "group": "3eb64eb9c36c7d37",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Accel Y (G)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -2,
        "max": 2,
        "colors": [
            "#85c1e9",
            "#5dade2",
            "#2e86c1"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "299c024bcf7df258",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Accel Z",
        "group": "3eb64eb9c36c7d37",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Accel Z (G)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -2,
        "max": 2,
        "colors": [
            "#85c1e9",
            "#5dade2",
            "#2e86c1"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "1513e77eb4428923",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Gyro X",
        "group": "ce3c1ef46ed8bcf0",
        "order": 1,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Gyro X (deg/s)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -180,
        "max": 180,
        "colors": [
            "#f8c471",
            "#f5b041",
            "#d68910"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "4fb2404abd972a5a",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Gyro Y",
        "group": "ce3c1ef46ed8bcf0",
        "order": 2,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Gyro Y (deg/s)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -180,
        "max": 180,
        "colors": [
            "#f8c471",
            "#f5b041",
            "#d68910"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "d48ce571c3af1ef6",
        "type": "ui_gauge",
        "z": "d76b69dc5b0dc7a0",
        "name": "Gyro Z",
        "group": "ce3c1ef46ed8bcf0",
        "order": 3,
        "width": 4,
        "height": 2,
        "gtype": "gage",
        "title": "Gyro Z (deg/s)",
        "label": "{{value}}",
        "format": "{{value}}",
        "min": -180,
        "max": 180,
        "colors": [
            "#f8c471",
            "#f5b041",
            "#d68910"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "14ed4f0dd4cd5bab",
        "type": "debug",
        "z": "d76b69dc5b0dc7a0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "8ee70fb283b90eb7",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acc_x",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "e31cd2f5b3b1f920"
            ]
        ]
    },
    {
        "id": "3bf52d4014322289",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acc_y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "e567c8217a352f8f"
            ]
        ]
    },
    {
        "id": "4a9e8ce6e2ad13be",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acc_z",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "299c024bcf7df258"
            ]
        ]
    },
    {
        "id": "173232e4a24395db",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro_y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 340,
        "wires": [
            [
                "4fb2404abd972a5a"
            ]
        ]
    },
    {
        "id": "efd66c3de31d86bc",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro_x",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "d48ce571c3af1ef6"
            ]
        ]
    },
    {
        "id": "9fb6738f6e6c7835",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyro_x",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "1513e77eb4428923"
            ]
        ]
    },
    {
        "id": "e07444a3da84c34b",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vibration",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 20,
        "wires": [
            [
                "057bc219bd4c4435"
            ]
        ]
    },
    {
        "id": "506bf85013f8ed36",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tilt",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "480bfe4fb972671f"
            ]
        ]
    },
    {
        "id": "477f0e02e78d2471",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lift",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 100,
        "wires": [
            [
                "21d61490d434edec"
            ]
        ]
    },
    {
        "id": "480bfe4fb972671f",
        "type": "ui_text",
        "z": "d76b69dc5b0dc7a0",
        "group": "62560b6440623465",
        "order": 2,
        "width": 24,
        "height": 1,
        "name": "",
        "label": "Nghiêng 2 bên",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 60,
        "wires": []
    },
    {
        "id": "8bb8c408dc1b9997",
        "type": "ui_text",
        "z": "d76b69dc5b0dc7a0",
        "group": "62560b6440623465",
        "order": 3,
        "width": 24,
        "height": 1,
        "name": "",
        "label": "Còi + Led",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "057bc219bd4c4435",
        "type": "ui_text",
        "z": "d76b69dc5b0dc7a0",
        "group": "62560b6440623465",
        "order": 1,
        "width": 24,
        "height": 1,
        "name": "",
        "label": "Độ rung SW-420",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 20,
        "wires": []
    },
    {
        "id": "c014d9f0f5357077",
        "type": "change",
        "z": "d76b69dc5b0dc7a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.alarm",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "8bb8c408dc1b9997"
            ]
        ]
    },
    {
        "id": "09594445eef69b1b",
        "type": "function",
        "z": "d76b69dc5b0dc7a0",
        "name": "Mail",
        "func": "let d = msg.payload;\n\n// Nếu không phải alarm ON → bỏ qua\nif (d.alarm !== \"ON\") {\n    return null;\n}\n\n// Thời gian chờ giữa 2 lần gửi mail (đơn vị: milliseconds)\n// 5 phút = 300000, 10 phút = 600000\nconst COOLDOWN = 5 * 60 * 1000;  // ← sửa số này tùy ý\n\nlet lastSent = context.get('lastEmailSent') || 0;\nlet now = new Date().getTime();\n\nif (now - lastSent < COOLDOWN) {\n    // Chưa hết cooldown → không gửi mail, chỉ hiện log cho đẹp\n    node.warn(`Email bị chặn do cooldown còn lại: ${Math.round((COOLDOWN - (now - lastSent)) / 1000)} giây`);\n    return null;\n}\n\n// Được phép gửi mail\ncontext.set('lastEmailSent', now);\n\nlet emailMsg = {\n    topic: \"CẢNH BÁO TRỘM – ESP32 ANTI-THEFT\",\n    payload:\n        \"THIẾT BỊ PHÁT HIỆN BÁO ĐỘNG!\\n\\n\" +\n        \"Thời gian: \" + new Date().toLocaleString(\"vi-VN\") + \"\\n\" +\n        \"Độ rung      : \" + d.vibration + \"\\n\" +\n        \"Nghiêng 2 bên: \" + d.tilt + \"\\n\" +\n        \"Nâng lên cao : \" + d.lift + \"\\n\" +\n        \"Trạng thái còi + đèn: \" + d.alarm + \"\\n\\n\" +\n        \"Acc  X/Y/Z : \" + d.acc_x.toFixed(3) + \" / \" + d.acc_y.toFixed(3) + \" / \" + d.acc_z.toFixed(3) + \"\\n\" +\n        \"Gyro X/Y/Z : \" + d.gyro_x.toFixed(1) + \" / \" + d.gyro_y.toFixed(1) + \" / \" + d.gyro_z.toFixed(1) + \"\\n\\n\" +\n        \"Hãy kiểm tra xe ngay lập tức!\\n\" +\n        \"Link xem trực tiếp: http://your-ip:1880/ui/#/0\"\n};\n\nreturn emailMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 360,
        "wires": [
            [
                "a4c9088208b16b44"
            ]
        ]
    },
    {
        "id": "21d61490d434edec",
        "type": "ui_text",
        "z": "d76b69dc5b0dc7a0",
        "group": "62560b6440623465",
        "order": 4,
        "width": 24,
        "height": 1,
        "name": "",
        "label": "Nâng lên cao",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "a4c9088208b16b44",
        "type": "e-mail",
        "z": "d76b69dc5b0dc7a0",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "longtakuku@gmail.com",
        "dname": "Loincute",
        "x": 360,
        "y": 440,
        "wires": []
    }
]